h3 {
  margin: 24px auto;
  color: $red;
  font-weight: bold;
  max-width: 900px;
}

.card-garage {
  position: relative;
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  max-width: 900px;
  margin: 24px auto;
  padding-right: 2.5rem;
  border-radius: 4px;
}

.car-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-garage img {
  max-width: 300px;
  height: auto;
}

.card-garage h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-garage p {
  font-size: 12px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-garage .card-garage-infos {
  padding: 16px;
}

.card-garage-infos {
  margin: 4px 0px;
}

.card-garage-infos h5 {
  color: $red;
  font-weight: 700;
}

.card-garage-infos h6 {
  font-weight: 700;
  color: black;
}

.card-garage-infos p {
  color: black;
  font-size: 14px;
}

.favourite-card {
  position: relative;
}

.bin {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: black;
}

.bin i {
  font-size: 18px;
}
